body {
    background: purple;
}

@keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-10rem); }
    80% {
      transform: translateX(1rem); }
    100% {
      opacity: 1;
      transform: translate(0); } }

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem); }
    100% {
        opacity: 1;
        transform: translate(0); } }
      

nav ul {
    margin: 0;
    left: 55%;
    position: absolute;
}

nav ul li {
    list-style: none;
    float: left;
}

header nav ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 20px;
}

header nav ul li a:hover {
    background-color: violet;
    color: #fff;
    border-radius: 5px;
    height: 10px;
}

.menu-button {
    background-color: transparent;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #fff;
    width: 100px;
    height: 30px;
    top: -8px;
    position: relative;
}

.logo {
    float: left;
}

.logo h2 {
    color: #fff;
    position: absolute;
    left: 8rem;
}

h1 {
    color: #fff;
    position: relative;
    top: 150px;
    text-align: center;
    animation-name: moveInBottom;
    animation-duration: 5s;
    animation-timing-function: ease-out;
}

.drop {
    position: relative;
    padding: 10px;
    top: 4px;
    font-weight: bolder;
}

.container {
    background-color: #fff;
    width: 1349.1px;
    height: 150vh;
    overflow: hidden;
    margin: 0;
    position: relative;
    right: 8px;
    top: 260px;
    box-sizing: border-box;
}

.row-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 75px;
    position: relative;
    top: 65px;
}
.row-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 75px;
    position: relative;
    top: 125px;
}

.row-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 75px;
    position: relative;
    top: -90px;
}

.row-1 h3 {
    color: purple;
}

.row-1 p {
    color: #333;
    width: 150px;
}
.row-2 h3 {
    color: purple;
}

.row-2 p {
    color: #333;
    width: 150px;
}
.row-3 h3 {
    color: #333;
}

.row-3 p {
    color: #333;
    width: 150px;
}

.input {
    width: 20%;
    height: 40px;
    top: 140%;
    left: 35%;
    color: #000;
    position: absolute;
    border-radius: 5px;
    font-family: monospace;
    font-size: 15px;
}

.button {
    background-color: lightgrey;
    cursor: pointer;
    border: 1px solid #fff;
    top: 139.7%;
    left: 56%;
    width: 10%;
    height: 50px;
    color: purple;
    position: absolute;
    border-radius: 5px;
    font-size: 20px;
}

.row {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    list-style: none;
    position: relative;
    display: flex;

}

.row li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    list-style: none;
    display: flex;
    flex-direction: column;
}
